/* General */
@font-face {
  font-family: windows95;
  src: url(font/W95FA/w95fa.woff2);
}

:root {
  --win95: "windows95";
  --norm: 100;
  --bold: 700;
  --grey: #b6b6b6;
  --borderdark: #606060;
  --borderlight: #ffffff;
  --green: #007a7a;
}

body {
  margin: 0 auto;
  background-color: var(--green);
  overflow-y: hidden;
  overflow-x: hidden;
}

.process {
  display: flex;
  position: absolute;
  justify-content: space-between;
  background-color: var(--grey);
  width: calc(100% - 4px);
  height: 36px;
  top: calc(100% - 40px);
  border-width: 2px;
  border-color: var(--borderlight) var(--borderdark) var(--borderdark) var(--borderlight);
  border-style: solid;
}

.left {
  display: flex;
}

.start {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--grey);
  width: 60px;
  height: 75%;
  margin: 3px;
  border-width: 3px;
  border-color: var(--borderlight) var(--borderdark) var(--borderdark) var(--borderlight);
  border-style: solid;
}

.window1 {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--grey);
  width: 125px;
  height: 75%;
  margin: 3px;
  border-width: 3px;
  border-color: var(--borderlight) var(--borderdark) var(--borderdark) var(--borderlight);
  border-style: solid;
}

.process p {
  grid-column: 2;
  font-family: var(--win95);
  font-weight: var(--bold);
  text-align: end;
  margin: 0;
  padding-inline: 3px;
  align-self: center;
}

.window1 > p {
  grid-column: 1;
  font-weight: var(--norm);
  text-align: start;
}

.time-container {
  display: flex;
  justify-content: end;
  width: 100px;
  height: 75%;
  margin: 2px;
  border-width: 2px;
  border-color: var(--borderdark) var(--borderlight) var(--borderlight) var(--borderdark);
  border-style: inset;
}

.display-time {
  align-self: center;
  padding-inline: 5px;
  font-family: var(--win95);
  text-align: end;
}

.window {
  position: absolute;
  z-index: 0;
  background-color: var(--grey);
  height: 600px;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-width: 2px;
  border-color: var(--borderlight) var(--borderdark) var(--borderdark) var(--borderlight);
  border-style: solid;
}

/* Buttons */
.allbuttons {
  display: flex;
  gap: 3px;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  border: none;
  font-family: var(--win95);
  font-weight: var(--norm);
  background-color: var(--grey);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.active {
  border-width: 2px;
  border-color: var(--borderdark) var(--borderlight) var(--borderlight) var(--borderdark);
  border-style: inset;
  margin: -2px;
}
.btn:active {
  border-width: 2px;
  border-color: var(--borderdark) var(--borderlight) var(--borderlight) var(--borderdark);
  border-style: inset;
  margin: -2px;
}

.dropdown {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  width: 170px;
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  border-width: 2px;
  margin-top: -2px;
  border-color: var(--borderlight) var(--borderdark) var(--borderdark) var(--borderlight);
  border-style: solid;
}

.dropdown p {
  font-family: var(--win95);
  margin: 2px;
  padding-inline-start: 5px;
}

.dropdown p:hover {
  background-color: darkblue;
  color: whitesmoke;
}

/* Content */
.contentouter {
  position: relative;
  height: 100%;
}
.contentinner {
  position: relative;
  overflow-y: scroll;
  height: 488px;
  padding: 20px;
  background-color: whitesmoke;
  border-color: var(--borderdark) var(--borderlight) var(--borderlight) var(--borderdark);
  border-style: inset;
}

/* List */
tr {
  display: flex;
  width: 200px;
  height: 100px;
  cursor: pointer;
}

tbody {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Modal */
.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  width: 40vw;
  height: 40vh;
  background-color: var(--grey);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  border-width: 2px;
  border-color: var(--borderlight) var(--borderdark) var(--borderdark) var(--borderlight);
  border-style: solid;
  outline: 1px solid var(--grey);
}

.modal > article {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;

  font-family: var(--win95);
  font-size: 15px;
  padding: 15px;
}

.modal > article .picture {
  grid-column: 1;
  grid-row: span 5;
}

.modal > article h3,
.modal > article p {
  padding-left: 10px;
  grid-column: 2;
  margin-block: 0;
}

.modalBtn {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.topbar {
  display: flex;
  justify-content: space-between;

  width: 100%;
  background-color: darkblue;
}

.topbar > div {
  display: flex;
  gap: 3px;
  font-family: var(--win95);
  font-weight: var(--bold);
  color: whitesmoke;
}

.popIcon {
  padding: 3px;
}

.topbar span {
  color: whitesmoke;
  padding: 3px;
  font-size: 15px;
}

.popBtn,
.modalBtn > button,
.windowBtn {
  background-color: var(--grey);
  margin: 3px;
  font-family: var(--win95);
  border-width: 1px;
  border-color: var(--borderlight) var(--borderdark) var(--borderdark) var(--borderlight);
  border-style: solid;
}

.modalBtn > button {
  cursor: pointer;
  padding: 15px;
  outline: 1px solid #000;
}

.hidden {
  display: none;
}

span {
  color: black;
}
