/* General */
@font-face {
  font-family: windows95;
  src: url(font/W95FA/w95fa.woff2);
}

:root {
  --win95: "windows95";
  --norm: 100;
  --bold: 700;
  --grey: #c0c0c0;
  --borderdark: #606060;
  --borderlight: #ffffff;
  --green: #007a7a;
  font-family: var(--win95);
}

body {
  display: grid;
  grid-auto-columns: 70px;
  grid-auto-rows: 60px;
  margin: 0 auto;
  background-color: var(--green);
  overflow-y: hidden;
  overflow-x: hidden;
}

.process {
  display: flex;
  position: absolute;
  justify-content: space-between;
  background-color: var(--grey);
  width: calc(100% - 4px);
  height: 36px;
  top: calc(100% - 40px);
  border-width: 2px;
  border-color: var(--borderlight) transparent transparent var(--borderlight);
  border-style: solid;
}

.left {
  display: flex;
}

.start {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--grey);
  width: 60px;
  height: 75%;
  margin: 3px;
  border-width: 2px;
  border-color: var(--borderlight) var(--borderdark) var(--borderdark) var(--borderlight);
  border-style: solid;
}

.window1 {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--grey);
  width: 200px;
  height: 75%;
  margin: 3px;
  border-width: 2px;
  border-color: var(--borderdark) var(--borderlight) var(--borderlight) var(--borderdark);
  border-style: inset;
}

.process p {
  grid-column: 2;
  font-weight: var(--bold);
  text-align: end;
  margin: 0;
  padding-inline: 3px;
  align-self: center;
}

.window1 > p {
  grid-column: 1;
  font-weight: var(--norm);
  text-align: start;
}

.time-container {
  display: flex;
  justify-content: end;
  width: 100px;
  height: 75%;
  margin: 2px;
  border-width: 2px;
  border-color: var(--borderdark) var(--borderlight) var(--borderlight) var(--borderdark);
  border-style: inset;
}

.display-time {
  align-self: center;
  padding-inline: 5px;
  text-align: end;
}

.window {
  position: absolute;
  z-index: 0;
  background-color: var(--grey);
  width: 80vw;
  max-width: 1260px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-width: 2px;
  border-color: var(--borderlight) var(--borderdark) var(--borderdark) var(--borderlight);
  border-style: solid;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.43);
}

/* Buttons */
.allbuttons {
  display: flex;
  gap: 3px;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  border: none;
  font-family: var(--win95);
  font-weight: var(--norm);
  background-color: var(--grey);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.active {
  border-width: 2px;
  border-color: var(--borderdark) var(--borderlight) var(--borderlight) var(--borderdark);
  border-style: inset;
  margin: -2px;
}
.btn:hover {
  outline: 1px solid var(--borderdark);
}
.btn:active {
  border-width: 2px;
  border-color: var(--borderdark) var(--borderlight) var(--borderlight) var(--borderdark);
  border-style: inset;
  margin: -2px;
}

.btn::first-letter {
  text-decoration: underline;
}

.dropdown {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  width: 170px;
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  border-width: 2px;
  margin-top: -2px;
  border-color: var(--borderlight) var(--borderdark) var(--borderdark) var(--borderlight);
  border-style: solid;
}

.dropdown p {
  margin: 2px;
  padding-inline-start: 5px;
}

.dropdown p:hover {
  background-color: darkblue;
  color: whitesmoke;
}

.logo {
  width: 50vw;
  max-width: 350px;
  grid-row: 4;
  margin-inline-start: 25px;
}
.hack {
  grid-column: 2;
  grid-row: 2;
  height: 50px;
}

.trash {
  grid-column: 2;
  grid-row: 4;
  height: 50px;
}

.studentlist {
  grid-column: 2;
  grid-row: 6;
  height: 50px;
}
.iconimg {
  height: 100%;
  margin-inline: 10px;
}
.hack > p,
.trash > p,
.studentlist > p {
  color: whitesmoke;
  margin-top: -3px;
  text-shadow: 2px 2px black;
  text-align: center;
  width: 70px;
}

/* Content */
.contentouter {
  display: grid;
  grid-auto-rows: 30px;
  gap: 2px;
  position: relative;
  height: 100%;
}
.contentinner {
  grid-row: 19;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  align-self: flex-end;
  height: 400px;
  background-color: whitesmoke;
  border-color: var(--borderdark) var(--borderlight) var(--borderlight) var(--borderdark);
  border-width: 2.5px;
  border-style: inset;
}

.contentbot {
  grid-row: 20;
  height: 24px;
  background-color: var(--grey);
  align-self: center;
  border-color: var(--borderdark) var(--borderlight) var(--borderlight) var(--borderdark);
  border-width: 2.5px;
  border-style: inset;
}

/* List */
#list {
  width: 100%;
}
tr {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  height: 60px;
  cursor: pointer;
  padding: 10px;
}

tr:nth-last-of-type(even) {
  background-color: rgb(190, 255, 255);
}

td {
  align-self: center;
}

[data-field="blood"] {
  grid-column: 7;
  text-align: center;
}
[data-field="inquis"] {
  grid-row: 1;
  grid-column: 6;
  text-align: center;
}
[data-field="prefect"] {
  grid-row: 1;
  grid-column: 5;
  text-align: center;
}

[data-field="house"] {
  grid-row: 1;
  grid-column: 8;
  text-align: end;
  padding-inline-end: 20px;
}
.house {
  height: 60px;
}

.bloodimg {
  height: 25px;
}

.inquis {
  height: 50px;
}

/* Modal */
.modal {
  display: grid;
  grid-auto-rows: 30px;
  position: fixed;
  z-index: 1;
  max-width: 730px;
  height: 330px;
  background-color: var(--grey);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  border-width: 2px;
  border-color: var(--borderlight) var(--borderdark) var(--borderdark) var(--borderlight);
  border-style: solid;
  outline: 1px solid var(--grey);
}

.modal > article {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  font-family: var(--win95);
  font-size: 15px;
  padding: 15px;
}

.modal > article .picture {
  grid-column: 1;
  grid-row: span 5;
  width: 107px;
  height: 114px;
  border-radius: 25px;
}

.modal > article h3,
.modal > article p {
  padding-left: 10px;
  grid-column: 2;
  margin-block: 0;
}

.housePic {
  place-self: start end;
  grid-column: 3;
  grid-row: 1 / span 5;
  height: 120px;
}

.modalBtn {
  grid-row: 10;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.topbar {
  display: flex;
  justify-content: space-between;
  height: 24px;
  width: 100%;
  background-color: darkblue;
}

.topbar > div {
  display: flex;
  gap: 3px;
  font-weight: var(--bold);
  color: whitesmoke;
}

.popIcon {
  padding: 3px;
}

.topbar span {
  color: whitesmoke;
  padding: 3px;
  font-size: 17px;
  letter-spacing: 0.08rem;
}

.popBtn,
.modalBtn > button,
.windowBtn,
.alertBtn {
  background-color: var(--grey);
  font-family: var(--win95);
  border-width: 1px;
  border-color: var(--borderlight) var(--borderdark) var(--borderdark) var(--borderlight);
  border-style: solid;
}
.windowBtn,
.popBtn,
.alertBtn {
  height: 75%;
  align-self: center;
  margin-inline-end: 3px;
}

.modalBtn > button,
.alertmsg > button {
  cursor: pointer;
  padding: 8px;
  padding-inline: 20px;
  outline: 1px solid #000;
}

/* Alert */
.alertmsg {
  display: grid;
  grid-auto-rows: 30px;
  position: fixed;
  z-index: 1;
  width: 80vw;
  max-width: 400px;
  background-color: var(--grey);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  border-width: 2px;
  border-color: var(--borderlight) var(--borderdark) var(--borderdark) var(--borderlight);
  border-style: solid;
  outline: 1px solid var(--grey);
}

.alertcontent {
  grid-row: span 3;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-self: center;
}

.alerttext {
  max-width: 250px;
}

.alertcontent > img {
  height: 45px;
}

.alertmsg > button {
  height: 34px;
  width: 120px;
  place-self: center;
  grid-row: span 2;
}

.hidden {
  display: none;
}

span {
  color: black;
}

.behind {
  background-color: var(--borderdark);
}
